@if (questions) {
   <form [formGroup]="quizForm" (ngSubmit)="submitQuizForm()">
      @for (question of questions; track question) {
         <div class="question flex flex-column gap-2 mt-5">
            <label class="question-label">{{ question.question }}</label>

            @for (answer of question.answers; track answer) {
               <div class="answer">
                  <p-radioButton
                     [value]="answer.id"
                     [formControlName]="question.id"
                     [id]="answer.id"></p-radioButton>
                  <label [for]="answer.id" class="question-answer-label ml-2">
                     {{ answer.answer }}
                  </label>
               </div>
            }
         </div>
      }
      <button pButton type="submit" label="Nastavi" class="mb-3 continue-btn" [disabled]="submitBtnDisabled"></button>
   </form>
}
