<div class="auth">
    <p-card header="Authentication">
        @switch (selecedAction) {
            @case (AuthPageAction.LOGIN) {
                <app-register />
            }
            @case (AuthPageAction.REGISTER) {
                <app-login />
            }
        }

        <p-button [text]="true" severity="plain" (onClick)="switchAction()" class="switch-auth-action">
            @switch (selecedAction) {
                @case (AuthPageAction.LOGIN) {
                    Already have an account
                }
                @case (AuthPageAction.REGISTER) {
                    Create a new account
                }
            }
        </p-button>

    </p-card>
</div>
