<div class="card flex justify-content-center">
   <p-card class="xl:-m-3 md:col-6" [header]="getHeaderTitle">
      @if (selectedOption == AuthOptionType.SIGN_UP) {
         <app-register (onSubmitCreateAccount)="handleCreateAccountSubmit($event)" class="w-full"/>
      } @else {
         <app-login (onAuthSubmit)="handleAccountAuthSubmit($event)" class="w-full" />
      }

      <div class="flex justify-content-center">
         <p-button [text]="true"
                   [label]="getNavBtnLabel"
                   class="mt-2" (onClick)="switchAuthOption()"></p-button>
      </div>
   </p-card>
</div>
