<div class="card flex justify-content-center mt-5">
   <p-card class="xl:-m-3 md:col-6" header="Resetovanje lozinke">
      <form [formGroup]="passwordResetForm" class="grid formgrid p-fluid mt-3" (ngSubmit)="submitPasswordResetForm()">
         <p-floatLabel class="field mb-5 col-12">
            <input type="password" pInputText formControlName="newPassword" id="new-password" />
            <label for="new-password">Nova korisnička šifra</label>
         </p-floatLabel>

         <p-floatLabel class="field mb-5 col-12">
            <input type="password" pInputText formControlName="confirmNewPassword" id="confirm-new-password" />
            <label for="confirm-new-password">Potvrdite novu korisničku šifra</label>
         </p-floatLabel>

         <div class="col-12">
            <button pButton type="submit" label="Promeni lozinku" [disabled]="passwordResetForm.invalid"></button>
         </div>
      </form>
   </p-card>
</div>
