<div class="surface-section px-4 py-6"><span class="block font-bold text-3xl mb-5 text-center">FAQ</span>
   <div class="grid grid-nogutter">
      <div class="col-12 md:col-6 lg:col-4 p-5">
         <div class="font-medium text-xl text-900 mb-3">What is Los Santos County RP?</div>
         <p class="text-700 text-white-alpha-60 line-height-3 m-0">It is a unique project based on GTA, allowing thousands of players to
            interact with each other in real-time.
         </p>
      </div>
      <div class="col-12 md:col-6 lg:col-4 p-5">
         <div class="font-medium text-xl text-900 mb-3">What RP (RolePlay) stands for?</div>
         <p class="text-700 text-white-alpha-60 line-height-3 m-0">This is a game mode where players create characters and scenarios, and
            then act according to their roles within the gameplay.
         </p>
      </div>
      <div class="col-12 md:col-6 lg:col-4 p-5">
         <div class="font-medium text-xl text-900 mb-3">How do I start on LSC RP?
         </div>
         <p class="text-700 text-white-alpha-60 line-height-3 m-0">First you need to download a licensed GTA V and then install the Majestic
            Launcher.
         </p>
      </div>
      <div class="col-12 md:col-6 lg:col-4 p-5">
         <div class="font-medium text-xl text-900 mb-3">What to do on the server?
         </div>
         <p class="text-700 text-white-alpha-60 line-height-3 m-0">In addition to a large choice of jobs and player interactions, we have
            regular updates and seasonal events available.
         </p>
      </div>
      <div class="col-12 md:col-6 lg:col-4 p-5">
         <div class="font-medium text-xl text-900 mb-3">Where can I find the server rules?

         </div>
         <p class="text-700 text-white-alpha-60 line-height-3 m-0">You can find a section with server rules, complaints about players and
            other topics on the project forum.
         </p>
      </div>
      <div class="col-12 md:col-6 lg:col-4 p-5">
         <div class="font-medium text-xl text-900 mb-3">Need assistance?</div>
         <p class="text-700 text-white-alpha-60 line-height-3 m-0">
            Our friendly community is always ready to lend a helping hand. Join discussions, seek guidance from seasoned players.</p>
      </div>
   </div>
</div>