<div class="surface-section px-4 py-6"><span class="block font-bold text-3xl mb-5 text-center">FAQ</span>
   <div class="grid grid-nogutter">
      <div class="col-12 md:col-6 lg:col-4 p-5">
         <div class="font-medium text-xl text-900 mb-3">Šta je Los Santos County Roleplay?</div>
         <p class="text-700 text-white-alpha-60 line-height-3 m-0">Los Santos County Roleplay je tekstualni roleplay server u igri Grand Theft Auto San Andreas Multiplayer
         </p>
      </div>
      <div class="col-12 md:col-6 lg:col-4 p-5">
         <div class="font-medium text-xl text-900 mb-3">Šta nudi county?</div>
         <p class="text-700 text-white-alpha-60 line-height-3 m-0">Los Santos County predstavlja predgrađe grada Los Santosa. Sve mogućnosti koje postoje u gradu, postoje 
            i u County. Veća koncentracija igrača na manjem području predstavlja prednost.
         </p>
      </div>
      <div class="col-12 md:col-6 lg:col-4 p-5">
         <div class="font-medium text-xl text-900 mb-3">Kako započeti igru na LSCRP?
         </div>
         <p class="text-700 text-white-alpha-60 line-height-3 m-0">Igru možete započeti registrovanjem na UCP, klikom na "Join us now". Nakon registracije, 
            biće vam omogućeno kreiranje IG karaktera.
         </p>
      </div>
      <div class="col-12 md:col-6 lg:col-4 p-5">
         <div class="font-medium text-xl text-900 mb-3">Šta raditi na LSCRP?
         </div>
         <p class="text-700 text-white-alpha-60 line-height-3 m-0">Osim unikatnih sistema, mapa i mogućnosti, LSCRP vam nudi potpuno uređenu infrastrukturu -
            od unikatnih poslova, preko organizacija do realističnih i zabavnih sistema za igru.
         </p>
      </div>
      <div class="col-12 md:col-6 lg:col-4 p-5">
         <div class="font-medium text-xl text-900 mb-3">Gde mogu pronaći pravila servera?

         </div>
         <p class="text-700 text-white-alpha-60 line-height-3 m-0">Pravila servera, kao i sva neophodna uputstva, možete naći na dva mesta -
            na forumu Los Santos County Roleplay zajednice ili na zvaničnoj vikipediji LSCRP.
         </p>
      </div>
      <div class="col-12 md:col-6 lg:col-4 p-5">
         <div class="font-medium text-xl text-900 mb-3">Potrebna mi je pomoć?</div>
         <p class="text-700 text-white-alpha-60 line-height-3 m-0">
            Članovi naše druželjubive zajednice če vam sa zadovoljstvom pomoći preko našeg diskorda ili foruma. Sve što je potrebno jeste da pošaljete poruku i opišete na koji
         način vam možemo pomoći.</p>
      </div>
   </div>
</div>