
<form [formGroup]="form">
    <p-floatLabel>
        <input type="text" pInputText formControlName="username" id="username" />
        <label for="username">Username</label>
    </p-floatLabel>
     
    <p-floatLabel>
        <input type="text" pInputText formControlName="email" id="email" />
        <label for="email">Email</label>
    </p-floatLabel>

    <p-floatLabel>
        <input type="password" pInputText formControlName="password" id="password" />
        <label for="password">Password</label>
    </p-floatLabel>

   <p-floatLabel>
      <input type="password" pInputText formControlName="confirmPassword" id="confirm-password" />
      <label for="password">Confirm password</label>
   </p-floatLabel>

    <button pButton type="button" (click)="register()" label="Sign up" class="mb-3"></button>
</form>