@if (quizStarted) {

   <p-steps [model]="registerSteps" [readonly]="true" [activeIndex]="activeStep" />

   @switch (activeStep) {
      @case (0) {
         <app-roleplay-quiz (onTestSubmitResponse)="handleTestResponse($event)" />
      }
      @case (1) {
         <form [formGroup]="form" class="mt-5">
            <p-floatLabel>
               <input type="text" pInputText formControlName="username" id="username" />
               <label for="username">Korisničko ime</label>
            </p-floatLabel>
            <small id="username-help" class="text-color-secondary">Ne sme sadržati space u sebi i ne sme biti u formatu Ime_Prezime</small>

            <p-floatLabel>
               <input type="text" pInputText formControlName="email" id="email" />
               <label for="email">E-mail adresa</label>
            </p-floatLabel>

            <p-floatLabel>
               <input type="password" pInputText formControlName="password" id="password" />
               <label for="password">Korisnička šifra</label>
            </p-floatLabel>

            <p-floatLabel>
               <input type="password" pInputText formControlName="confirmPassword" id="confirm-password" />
               <label for="password">Potvrda korisničke šifre</label>
            </p-floatLabel>

            <button pButton type="button" (click)="register()" label="Kreiraj račun" class="mb-3"></button>
         </form>
      }
   }
} @else {
   <p>Klikom na "Započni kviz" slažete se sa pravilima i započinjete kviz.</p>
   <button type="button" pButton label="Započni kviz" class="mb-3 start-quiz-btn" (click)="startQuiz()"></button>
}