<div class="skin-selector">
   <div class="flex flex-wrap gap-2">
      @for (skinId of paginatedSkins; track skinId) {
         <div class="skin-preview" (dblclick)="selectSkin(skinId)">
            <div class="w-14rem h-19rem">
               <app-skin-preview [skinId]="skinId.toString()" />
            </div>
         </div>
      }
   </div>

   <p-paginator
      [rows]="pageSize"
      class="w-full mt-3"
      [totalRecords]="availableSkins.length"
      (onPageChange)="onPageChange($event)">
   </p-paginator>
</div>