<div pAnimateOnScroll enterClass="fadein" leaveClass="fadeout">
   <h2 class="block font-bold text-3xl mb-3 mt-5">O Los Santos County Roleplay</h2>

   <p class="text-700 text-white-alpha-60 line-height-3 m-0">
      Los Santos County Roleplay je tekstualni roleplay server u igri Grand Theft Auto San Andreas, koji su osnovali deker, Zekiloni i Hudson; 2024 godine.
      Server je započet idejom osnivača i željom za stabilnim serverom, sa autorskim (sopstvenim) resursima, koji bi balkanskoj bazi igrača omogućio neometanu
      igru i uživanje u roleplay-u u GTA San Andreas Multiplayer. Gamemode, mape, sistemi i svi resursi servera su potpuno autorski, te igračima pružaju nemerljive
      mogućnosti. Zajednica se trenutno sastoji od foruma, glavnog sajta, user control panel-a, vikipedije, samp servera i discord servera. Glavni ciljevi zajednice
      su stabilnost, zabava, prijateljski nastrojena zajednica igrača, zdrava atmosfera i dobra heavy roleplay zajednica podržana unikatnošću, trudom i marljivim radom.
   </p>

</div>

<div pAnimateOnScroll enterClass="fadein" leaveClass="fadeout">
   <h2 class="block font-bold text-3xl mb-3 mt-5">O roleplayu na Los Santos County Roleplay</h2>

   <p class="text-700 text-white-alpha-60 line-height-3 m-0">
      Kao što samo ime servera nagoveštava (Los Santos County Roleplay), glavna radnja servera odvija se u Red County. 
      Suština mesta ove radnje, jeste roleplay predgrađa grada Los Santosa, koje je ne tako daleko od Los Santosa. 
      Dakle, sve mogućnosti za roleplay, odnosno gangovi, illegal roleplay uopšteno, legal roleplay i slično može se 
      odvijati normalno, kao da je u gradu, međutim, radnja je ograničena na predgrađe odnosno u ovom primeru Red County. 
      Nije potrebno roleplayati "poljoprivrednike" i "ratare" uzevši u obzir blizinu grada i status predgrađa. 
      Roleplay poljoprivrednika i ratara je svakako dobrodošao ali isto tako i svi ostali tipovi roleplaya koji 
      bi se mogli odvijati i u gradu su takođe dobrodošli. Cilj smeštanja radnje u ovo područje jeste stvaranje 
      ušuškane atmosfere za roleplay, pomoću modifikovane mape i transformacije samog izgleda mesta 
      (Palomino Creek, Montogomery i Blueberry). Upravo zbog toga, da bi se igrači tokom roleplaya osećali okruženi 
      radnjom, a ne prazninama, ova mesta povezana su različitim lokacijama i dodatnim mapama. Prethodno nabrojane 
      lokacije su proširene, odnosno granice sela su proširene dodavanjem novih ulica, mapa i objekata. Na taj način, 
      mesta kao što su Palomino Creek, Montogomery i Blueberry dobila su potpuno novi "vibe" i nove potencijale za roleplay. 
      Upravo zbog toga, igračima je omogućeno da nesmetano roleplay-aju i sve ono što su do sada mogli samo u gradu, 
      ali u užem okruženju odnosno uz više igrača u okolini (na manjem prostoru). Na taj način, čak i mali/razočaravajući 
      broj igrača neće uticati na praznoću servera, odnosto gotovo u svakom trenutku će se u vašoj okolini odvijati bar nekakav roleplay. 
   </p>
</div>
