<div class="hero relative p-6 overflow-hidden mb-5"><img src="./assets/images/hero-bg-1.png" alt="Image"
                                                         class="hero-image absolute top-0 left-0 w-auto h-full block md:w-full">
   <div class="text-center my-6 relative">
      <div class="text-6xl text-white font-bold mb-1">Los Santos County <span class="text-primary">Roleplay</span></div>
      <p class="mt-0 mb-4 line-height-3 text-center mx-auto text-white" style="max-width: 500px;">
         Umorni ste od istog tipa SA:MP servera? Da li želite slobodu akcije i novu igru?
         Nova ekonomičnost i zanimljiva funkcionalnost? Pridružite se našem projektu.
         Možda nam ti nedostaješ!
         .</p>
      <button pButton pRipple label="Learn More" type="button" class="p-element p-ripple p-button p-component">
         <span class="p-button-label">Pročitaj više</span><span class="p-ink"
                                                             style="height: 128px; width: 128px; top: -58.4176px; left: -27.0795px;"></span>
      </button>
   </div>
</div>