
.skin-preview {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  overflow: hidden;
}


ul.short-details {
  list-style: none;
  padding: 0;

  li {
    margin: 8px 0;
  }
}



