@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "./assets/theme/theme.css";

html,
body {
   background-color: #100f14;
   width: 100%;

   margin: 0;
}

.p-button:focus {
   box-shadow: none;
}
