@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";
@import "primeng/resources/themes/arya-orange/theme.css";
//@import "primeng/resources/themes/lara-light-blue/theme.scss";


:root {
   --money: rgb(29, 191, 115);
}

html,
body {
   background-color: var(--surface-ground) !important;
   width: 100%;
   margin: 0;
}

.p-button:focus {
   box-shadow: none;
}

.money {
   color: var(--money) !important;
}