<div class="p-6 shadow-2 flex flex-column md:flex-row align-items-center justify-content-between"
     style="border-radius: 1rem;     background: linear-gradient(0deg, rgb(0 123 255 / 0%), rgb(0 123 255 / 0%)), linear-gradient(92.54deg, rgb(255 224 130 / 15%) 47.88%, #ffffff00 100.01%);">
   <div class="pr-6">
      <div class="text-white-alpha-70 font-medium text-xl mb-3 uppercase">Preduzmi sledeći korak</div>
      <div class="text-white font-medium text-5xl">Preuzmi sve što ti je potrebno</div>
   </div>
   <div class="mt-4 mr-auto md:mt-0 md:mr-0">
      <button pButton pRipple label="GTA SA"
              class="p-element p-ripple font-bold px-5 py-3 p-button-warning p-button-rounded p-button-raised white-space-nowrap mr-3 mt-3">
         <i class="pi pi-download mr-2"></i>
         <span class="p-button-label">GTA San Andreas</span><span class="p-ink"></span>
      </button>
      <button pButton pRipple label="SA-MP"
              class="p-element p-ripple font-bold px-5 py-3 p-button-warning p-button-rounded p-button-raised white-space-nowrap mt-3">
         <i class="pi pi-download mr-2"></i>
         <span class="p-button-label">SA-MP Klijent</span><span class="p-ink"></span>
      </button>
   </div>
</div>