small {
  &.account-username {
    margin-left: 16px;
  }
}

.member-actions {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 8px;
}

.in-game-status {
  font-size: 0.5em;
  color: tomato;

  &.online {
    color: #0dc381;
  }
}
